* {
    margin: 0;
    padding: 0;
    text-align: center;
}
h1 {
    background: color #0813b1;
    color: brown;
    height:  5rem;
    line-height: 5rem;

}
.choice{
    height: 165px;
    width: 165px;  
    
}
.choice {
    cursor:pointer;
    
}

img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-color: blueviolet;
    border-style: double;
    background-color:navy;
    
}

.choices {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 4rem;
   margin-top: 5rem;

}
.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap: 5rem;
    

}
#user-score, 
#comp-score {
    margin-top: 4rem;
    font-size: 3rem;

}
.msg-container {
    margin-top: 5rem;
}
#msg {
    background-color: black;
    color: azure;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
   
}